*{
    margin: none;
    padding: none;
    box-sizing: border-box;

}
body{
/* background:linear-gradient(to right,rgb(230, 67, 7),rgb(1, 29, 1));*/
background-color: rgba(0, 19, 3, 0.925);
overflow-wrap: normal;
overflow-y:auto;
}
.container{
    
    width: 100%;
}
.nav{
    align-content: center;
    justify-content: center;
}
.dash{
display: flex;
justify-content:space-between;
align-items:center;
font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
border-radius: 20px;
border-color: rgba(230, 52, 8, 0.932);
border-style: groove;
border-width: 1px;
background-color: rgba(0, 0, 0,0.1);
width: 100%;
height: 60px;
position:fixed;
}

.dash #logo{
    margin-bottom: 25px;
    margin-left: 20px;
}
#span-1{
color:purple;
text-decoration: wavy;
font-size: large;
}
#span-2{
color: orangered;
text-decoration: wavy;
font-size: large;
}
#search{
border-radius: 10px;

}
#search{
    padding:10px 4px 10px 2px;
    margin-top: 2%;
    margin-bottom: 2%;
    border: none;

}
#search:hover{
        background-color: orangered;
}
a{
margin-right: 2%;
margin-top: 1%;
}
#menu{
    width: 90%;
}
#intro{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 800;
    font-weight: bold;
}
.hero-section{
    margin-top: 6%;
background-color: rgba(0, 0, 0,0.2);
    width: 100%;
    height:470px;
    display: flex;
    border: none;
    border-radius: 10px;
    border-style: groove;
border-width: 0.1px;
border-color:rgba(250, 235, 215, 0.137);
}
.h1{
    width:40%;
    height: 100%;
    border-radius: 10px;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-content: center;

}
.h1 img{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    border-radius: 10%;
}
.text{
    width: 60%;
display: flex;
flex-direction: column;
overflow: auto;
overflow-y: hidden;
overflow-y: hidden;
}
.text #l{
    font-weight: bolder;
    font-size: 300%;
    margin-left: 70px;
    color:antiquewhite;
}
.text h1{
    font-size: 300%;
    font-weight: bolder;
    margin-left: 70px;
    color:antiquewhite;
}

.text h2{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 70px;
    color:antiquewhite;
}
.text button{
width: 25%;
border-radius: 10px;
border: none;
border-color: black;
padding: 10px;
margin-left: 280px;
}
.text button:hover{
    background-color: orangered;
}
.featured-tailors{
    margin-top: 1%;
    width: 100%;
    height:409px;
    display: flex;
background-color: rgba(0, 0, 0,0.1);
margin-bottom: 2%;
border-style: groove;
border-width: 0.1px;
border-radius: 10px;
border-color:rgba(250, 235, 215, 0.137);

}
.ft{
    width: 80%;
display: flex;
align-items: center;
justify-content: center;
}
.ft h1{
    color: antiquewhite;

}
/*profile card for first tailor*/
.featured-tailors .tl-1{
width: 50%;
    background-color: rgba(0, 0, 0,0.25);
border: none;
border-radius: 10px;
height: 95%;
margin-top: 0.9%;
margin-right: 0.7%;
display: flex;
justify-content: center;


}
/*profile card for second tailor*/
.featured-tailors .tl-2{
    display: flex;
    justify-content: center;
    width:50%;
    background-color: rgba(0, 0, 0,0.25);
    border: none;
    border-radius: 10px;
    margin-left: 0.7%;
    margin-right:1% ;
    height: 95%;
margin-top: 0.9%;

}
/*former styling for second featured tailor
.featured-tailors .tl-2 .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
height: 20%;
    width:20%;
    margin-top: 2%;
    border-radius: 100px;
    padding: 100px;
    border: none;
    background-color: aqua;
}*/
.featured-tailors .tl-2 .img {
    width: 50%;
    height: 30px;

    text-align: center;
}
.featured-tailors .tl-2 .img #itl-1{
    border-radius: 100%;
    border: none;
    margin-top: 12%;
    margin-bottom: 9%;
    width: 130px;
    margin-left: 12%;

}
.featured-tailors .tl-1 .img #itl-2{
    border-radius: 100%;
    border: none;
    width: 170px;
    margin-left: 12%;
    padding: 10%;
}

.featured-tailors .tl-1 .img {
    width: 50%;
    height: 30px;

    text-align: center;

}

/*.featured-tailors a{
    margin-top: 200px;
    padding: 1px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}*/
.featured-tailors button {
    margin-top: 1%;
    margin-left: 12%;
background-color: rgb(255, 254, 254);
padding: 10px;
border: none;
border-radius: 10px;
}
.featured-tailors button:hover{
    background-color: orangered;
}
#viewall{
    border-radius: 10px;
}
#viewall:hover{
    background-color: orangered;
}
.Hitwrks{
    background-color:rgba(0, 0, 0,0.1);
    border-radius: 10px;
    width: 100%;
    height: 130px;
    display: flex;
    
}
.Hitwrks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    border-style: groove;
border-width: 0.1px;
border-radius: 10px;
border-color:rgba(250, 235, 215, 0.137);

}
.Hitwrks h1{
    color: antiquewhite;
}
aside h2{
    background-color: rgba(0, 0, 0,0.2);
    border-radius: 10px;
    border: none;
    border-style: groove;
    padding: 10px;
border-width: 0.1px;
color: antiquewhite;
border-color:rgba(230, 52, 8, 0.932);
}
aside h2:hover{
    background-color: purple;
}
.tip{
    display: flex;
    background-color: rgba(0, 0, 0,0.2);
    border-radius: 10px;
    border: none;
    align-content: space-between;
    justify-content: space-evenly;
    margin-bottom: 2%;
        justify-content: space-evenly;
    border-style: groove;
    border-width: 0.1px;
border-radius: 10px;
border-color:rgba(250, 235, 215, 0.137);
}
.footer{
    background-color: rgba(0, 0, 0,0.2);
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    border-style: groove;
    border-width: 0.1px;
border-radius: 10px;
border-color: orangered;

}
.footer #span-1 {
color: purple;
}
.footer #span-2{
color:orangered;
}
.footer h3{
    color: antiquewhite;
}
@media (max-width:480px) {
    .dash{
        display: flex;
        width: 360px;
        height: 30px;
        flex-shrink: 2%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    #search{
        max-width: 20%;
        padding: 5px;
    }
    .hero-section{
        display: flex;
        flex-flow: column-;
        margin-top: 11%;
    }
    .h1{
        width: 50%;
        height: 250px;
    }
    .text{
        width: 50%;
    }
    .text #l{
        font-size: large;
    }
    .text h1 {
        font-size: large;
    }
.text h2{
    font-size: medium;
}
.text button{
margin-right: 50%;
}
.featured-tailors{
    display: flex;
    flex-direction: column;
}
}